@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

img {
    user-select: none;
}

.home_button {
    text-decoration: none;
    color: white;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 20px 100px black;
    font-size: 10px;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../images/home1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#home .navigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;

}

#home .navigation img{
    height: 30px;
    width: 130px;
    margin-top: 30px;

}

#home .navigation nav{
    margin-top: 30px;
    display: flex;
    gap: 25px;

}

#home .navigation nav a{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.4s;
}

#home .navigation nav a:hover{
    color: #c1b086;

}

#home span{
    display: inline-block;
    margin-left: 200px;
    margin-top: 140px;

}

#home span h2::after{
    display: inline-block;
    content: "H";
    position: absolute;
    font-size: 450px;
    opacity: 0.2;
    font-weight: bold;
    margin: -200px 0 0 -500px ;
}

#home span h2{
    font-size: 65px;

}

#home span p{
    display: inline-block;
    font-size: 12px;
    width: 60%;
    margin-left: 30px;
    margin-top: 20px;
}

section{
    height:100vh;
    width: 100%;
}

#rooms span{
    display: inline-block;
    margin-top: 50px;
    margin-left: 8%;
    
}


#rooms span h1 {
    font-size: 28px;
    margin: 10px 0 30px 0;
    margin-left: 10%;
    
  

}

#rooms span h2 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    color: #664f14;
    margin-left: 10%;

}


#rooms span h2::before {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color:#c1b086;
    margin-bottom: 25px;
}

#rooms .boximg{
    display: flex;
    width : 80%;
    gap: 30px;
    margin-left: 10%;
    margin-top: px;
}


#rooms .images{
    height: 500px;
    width: 380px;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    border: #c1b086 4px solid;
    position: relative;
    display: flex;

    
    
}

#rooms .images .info{
    background-color: rgb(243, 247, 250);
    height: 15%;
    width: 100%;
    margin-top: auto;
    border-top: #c1b086 4px solid;
    border-radius: 0 0 25px 25px;

}
#rooms .images .info h2{
    margin: 10px 0 0 10px;
    font-size: 15px;
    
}   

#rooms .images .info h3{
    margin: 0 0 0 10px;
    font-size: 15px;
    color: #0c0901;
}

#rooms .images h3::before {
    content: "$";
    font-size: 0.8em;
    color: #b3b0a6;
}

#rooms .images h3::after {
    content: " /per night";
    font-size: 0.8em;
    color: #b3b0a6;
}

#rooms .home_button{
    position: absolute;
    top: 310%;
    right: 10%;
    
}