@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

img {
    user-select: none;
}

.home_button {
    text-decoration: none;
    color: white;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 20px 100px black;
    font-size: 10px;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../images/home1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#home .navigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;

}

#home .navigation img{
    height: 30px;
    width: 130px;
    margin-top: 30px;

}

#home .navigation nav{
    margin-top: 30px;
    display: flex;
    gap: 25px;

}

#home .navigation nav a{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.4s;
}

#home .navigation nav a:hover{
    color: #c1b086;

}

#home span{
    display: inline-block;
    margin-left: 200px;
    margin-top: 140px;

}

#home span h2::after{
    display: inline-block;
    content: "H";
    position: absolute;
    font-size: 450px;
    opacity: 0.2;
    font-weight: bold;
    margin: -200px 0 0 -500px ;
}

#home span h2{
    font-size: 65px;

}

#home span p{
    display: inline-block;
    font-size: 12px;
    width: 60%;
    margin-left: 30px;
    margin-top: 20px;
}

section{
    height:100vh;
    width: 100%;
}

#gallery {
    display: flex;
    flex-direction: column;
    height: 93vh;
    font-family: 'Merriweather', serif;
    position: relative;
    background-color: rgba(193, 176, 134, 0.2);
}

#gallery span {
    display: inline-block;
    font-family: 'Merriweather', serif;
    margin: 2% 0 0 8%;
    position: relative;
}

#gallery span h1 {
    font-size: 30px;
    font-family: 'Merriweather', serif;
    margin: 12px 0 35px 0;
}

#gallery span h2 {
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Merriweather', serif;
    margin-bottom: 18px;
    color: #664f14;
}

#gallery span h2::before {
    margin-bottom: 35px;
    content: "";
    display: block;
    width: 95px;
    height: 3px;
    background-color: #c1b086;
}

#gallery .back_home {
    position: absolute;
    right: 10%;
    top: 50%;
    background-color: #c1b086;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

#gallery .back_home:hover {
    background-color: #a89160;
}

#gallery .photo_grid {
    margin: 3.5% 0 0 8%;
    width: 85%;
    height: 73vh;
    display: flex;
    gap: 6px;
}

#gallery .photo_frame {
    width: 6%;
    height: 73vh;
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: 90px;
    border: #c1b086 3px solid;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: 0.9s ease;
}

#photo1:checked ~ .photo_frame:nth-of-type(1),
#photo2:checked ~ .photo_frame:nth-of-type(2),
#photo3:checked ~ .photo_frame:nth-of-type(3),
#photo4:checked ~ .photo_frame:nth-of-type(4),
#photo5:checked ~ .photo_frame:nth-of-type(5),
#photo6:checked ~ .photo_frame:nth-of-type(6),
#photo7:checked ~ .photo_frame:nth-of-type(7),
#photo8:checked ~ .photo_frame:nth-of-type(8) {
    width: 95%;
}