@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

img {
    user-select: none;
}

.home_button {
    text-decoration: none;
    color: white;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 20px 100px black;
    font-size: 10px;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url(../images/home1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#home .navigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;

}

#home .navigation img{
    height: 30px;
    width: 130px;
    margin-top: 30px;

}

#home .navigation nav{
    margin-top: 30px;
    display: flex;
    gap: 25px;

}

#home .navigation nav a{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.4s;
}

#home .navigation nav a:hover{
    color: #c1b086;

}

#home span{
    display: inline-block;
    margin-left: 200px;
    margin-top: 140px;

}

#home span h2::after{
    display: inline-block;
    content: "H";
    position: absolute;
    font-size: 450px;
    opacity: 0.2;
    font-weight: bold;
    margin: -200px 0 0 -500px ;
}

#home span h2{
    font-size: 65px;

}

#home span p{
    display: inline-block;
    font-size: 12px;
    width: 60%;
    margin-left: 30px;
    margin-top: 20px;
}

section{
    height:100vh;
    width: 100%;
}

#restaurant {
    height: 95vh;
    font-family: 'Merriweather', serif;
    display: flex;
    
}

#restaurant .restaurant_img {
    margin: 3% 0 0 8%;
    width: 30%;
    height: 80%;
    border-radius: 25px;
    background-image: url(../images/re.jpg);
    background-size: cover;
    border: #c1b086 3px solid;
}

#restaurant span h1 {
    font-size: 32px;
    font-family: 'Merriweather', serif;
    margin: 0 0 50px 0;
}

#restaurant span h1::before {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #c1b086;
    margin-bottom: 15px;
}

#restaurant span p {
    font-size: 14px;
    width: 55%;
    font-family: 'Merriweather', serif;
    margin: 0 0 25px 50px;
}

#restaurant .main_btn {
    position: absolute;
    right: 10%;
    top: 18%;
}

#restaurant .restaurant_wrapper {
    margin: 2% 0 0 2%;
    width: 55%;
    height: 100%;
}

#restaurant .restaurant_row {
    display: flex;
    gap: 3%;
    margin-bottom: 3%;
}

#restaurant .restaurant_card {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    width: 68vh;
    height: 28vh;
    justify-content: center;
    align-items: center;
    border: #c1b086 3px solid;
    border-radius: 25px;
    color: white;
}

#restaurant .cuisine_title {
    transform: translateY(140px);
    background-color: rgb(193, 176, 134);
    width: 100%;
    padding-top: 2%;
    text-align: center;
    font-size: 28px;
    opacity: 0;
    transition: 0.9s ease;
}

#restaurant .cuisine_desc {
    transform: translateY(-90px);
    background-color: rgb(193, 176, 134);
    width: 88%;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.9s ease;
}

#restaurant .restaurant_card:hover .cuisine_title {
    opacity: 0.9;
    transform: translateY(-8px);
}

#restaurant .restaurant_card:hover .cuisine_desc {
    opacity: 0.9;
    transform: translateY(18px);
}

#about{
    display:flex ;

}
#about img{
    margin-top: 15%;
    margin-left: 10%;
    border: #c1b086 4px solid;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;

}

#about img:hover{
    transform: scale(1.2);
}

#about .left{
    height : 450px;
    width: 300px;
    
}

#about .right{
    height : 200px;
    width: 300px;
    position: absolute;
    margin: 33% 0 0 22%;
}

#about span{
    margin-top: 15%;
    margin-left: 15%;
    width: 50%;


}


#about span h2{
    font-size: 15px;
    margin-bottom: 0;
    color: darkgrey;
}

#about span h2::before{
    margin-bottom: 25px;
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color:#c1b086;

}

#about span h1{
    font-size: 30px;
}

#about span p{
    font-size: 12px;
    margin:30px;
}

#about .home_button{
    position: absolute;
    margin: 3% 0 0 5%;
}


#amenities img{
    height: 50vh;
    width: 100%;
    background-image: url(../images/amenities.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

#amenities .Bbleue{
    height: 50vh;
    width: 50%;
    background-color: #3e8ca8;
    color: white;
    position: absolute;
    right: 10%;
    top: 240vh;
    border: #c1b086 4px solid;
    border-radius: 30px;
    box-shadow: 5px 3px 10px black;
    opacity: 0.5;
    transition: 0.5s;   
}

#amenities .Bbleue:hover{
    opacity: 1;
}

#amenities span{
    display: inline-block;
    margin: 30px 0 0 5%;
    width: 90%;
    

}


#amenities .icons{ 
    display: flex;
    margin-top: 10px;
    gap: 30px;
    width: 90%;

}

#amenities  ul{
    list-style: none;

}

#amenities  ul li{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#amenities  .home_button{
    position: absolute;
    right: 2%;
    top: 290vh;

}